<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div style="width:50%;margin-left:30px;margin-top:30px">
  
 <table class="table">
    <tr>
        <div class="field form-group">
         <td> <%= f.label :name %></td>
          <td > <%= f.text_field :name,class:"form-control" ,style:"width:60%;"%></td>
        </div>
    </tr>
    <tr>
        <div class="field">
          <td> <%= f.label :surname %></td>
          <td> <%= f.text_field :surname,class:"form-control" ,style:"width:60%;" %></td>
        </div>
    </tr>
    <tr>  
        <div class="field">
          <td><%= f.label :birthday %></td>
          <td> <%= f.date_select :birthday ,style:"width:60%;height:60px;"%></td>
        </div>
    </tr>
    <tr>
        <div class="actions">
          <td></td> <td><%= f.submit class: 'btn-danger btn' %></td>
        </div>
    </tr>
  </table>
  
 </div> 
<% end %>
